.DS_Store
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/
littlemvc/.idea/
littleorm/.idea/
littlespring/.idea/
*.iml
target/
littlemvc/.idea/workspace.xml
littlemvc/.idea/workspace.xml
littleorm/.idea/workspace.xml
littlemvc/.idea/workspace.xml
littleorm/.idea/workspace.xml
littlemvc/.idea/workspace.xml
littleorm/.idea/workspace.xml
